<div class="container mt-5">
  <div class="col-4 offset-4">
    <div *ngIf="(basket$ | async) === null">
      <i
        class="fas fa-shopping-cart fa-7x my-3 d-flex justify-content-center"></i>

      <p class="d-flex justify-content-center">Your cart is empty!</p>
      <a
        routerLink="/shop"
        class="d-flex justify-content-center btn btn-outline-primary"
      >
        Keep shopping
      </a>
    </div>
  </div>
  <div *ngIf="basket$ | async">
    <div class="pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12 py-5 mb-1">
            <app-basket-summary 
              (decrement)="decrementItemQuantity($event)"
              (increment)="incrementItemQuantity($event)"
              (remove)="removeBasketItem($event)"
              [items]="(basket$ | async).items"
            >
            </app-basket-summary>

          </div>
        </div>

        <div class="row">
          <div class="col-6 offset-6">
            <app-order-totals
              *ngIf="(basketTotalPrice$ | async)"
              [shippingPrice]="(basketTotalPrice$ | async).shipping"
              [subtotal]="(basketTotalPrice$ | async).subtotal" 
              [total]="(basketTotalPrice$ | async).total"            
            >
            </app-order-totals>
            <a
              routerLink="/checkout"
              class="btn btn-outline-primary py-2 btn-block"
            >
              Proceed to checkout
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
