# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.skinet.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\tanlan\source\repos\skinet\.idea\.idea.skinet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
